* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #e30b5c;
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
  text-shadow: -1px -1px 1px #aaa, 0px 4px 1px rgba(0, 0, 0, 0.5),
    4px 4px 5px rgba(0, 0, 0, 0.7), 0px 0px 7px rgba(0, 0, 0, 0.4);
}
body {
  background: url("../images/background.jpg");
  background-repeat: repeat;
  background-size: cover;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #312581;
  margin: 1em 0 1em 0;
  padding: 0;
}
h1 {
  font-size: 52px;
}
p {
  font-size: 24px;
}
.container {
  position: relative;
  margin: 10px;
}
.column {
  float: left;
  width: 48%;
  box-sizing: border-box;
  padding: 20px;
  margin: 15px 5px 15px 5px;
  border: 1px solid #312581;
  border-radius: 15px 25px 10px 15px;
}
.no-border {
  border: none;
  margin: 0;
  padding: 0;
}
.column:nth-child(even) {
  border-radius: 25px 10px 15px 25px;
}
.column > button:nth-child(even),
.strawberry,
#yourWins,
#yourLoses,
#score {
  color: #fc5a8d;
}
.item {
  text-transform: capitalize;
  font-style: italic;
  display: inline-block;
  margin: 0px 2px 0px 2px;
  box-shadow: 0px 3px 8px #43484c;
  font-size: 20px;
  padding: 20px;
  border-radius: 15px 5px 15px 5px;
  transition: background linear 0.33s;
  background: linear-gradient(#218ffe, #405275);
}
.item:nth-child(even) {
  border-radius: 5px 15px 5px 15px;
}
.item:hover {
  background: white;
}
.item:active {
  background: #33cccc;
  transform: translateY(3px);
}
.winloss > p {
  font-size: 32px;
}
#score {
  font-size: 28px;
}
#yourTotal,
#yourNum,
#winOrLose {
  font-size: 36px;
}

@media only screen and (max-width: 1023px) {
  .container {
    width: auto;
  }
  .column {
    float: none;
    width: auto;
  }
  .item {
    padding: 15px;
  }
}
